<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>Meetup</title>


  <link rel="stylesheet" href="css/styles.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  

</head>

<body oncontextmenu="return false">
    
    {{>navbar}}
    <section class="home section" id="home">
        
        <div class="home__container bd-grid">
            <div class="home__data">
                <br><br>
                <h1 class="home__title"><br><span class="home__title-color">WORK </span>Together</h1>
                <h1 class="home__title"><span class="home__title-color">STUDY </span>Together</h1>
                
            </div>
            <div>
                <div class="header1">
                    
                    <br>
                        <a href="/signup"><button class="button1"><span>Sign-Up</span></a>
                            <a href="/login"><button class="button1"><span>Log-In</span></a>
                    
                    
                    
                  </div>
            </div>
            
        </div>
    </section>


        
    </main>
    
  

    <!--- Scroll Reveal --->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--- Main JS --->
    <script src="javascript/main.js"></script>


    
</body>
</html>